<%- include ('../../partials/header.ejs') %>
<body>
<%- include ('../../partials/navbar.ejs') %>
    <div container>
        <div class="card">
            <div class="card-title">
                <h2>Editar</h2>
                <hr>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/save">
                    <input class="form-control" type="text" name="title" placeholder="Define the article title" value=""><br>
                    <textarea class="form-control" placeholder="Write your article here!" id="article" name="body"></textarea>
                    <br>
                    <label>Category</label>
                    <select class="form-control" name="category" >
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <%  }) %>
                    </select>
                    <br>
                    <button class="btn btn-success">Atulizar</button>
                </form>
            </div>
        </div>
    </div>
</body>    
<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        //language:'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })

</script>