<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div container>
        <div class="card">
            <div class="card-title">
                <h2>Edit</h2>
                <hr>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <input class="form-control" type="text" name="title" placeholder="Defina o titulo da categoria" value="<%= category.title %>"><br>
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
        

    </div>
</body>    
<%- include ('../../partials/footer.ejs') %>